.simular {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.simularColumn {
  height: 600px;
  overflow-y: auto;
  border-radius: 8px;
}

.simularColumn-title {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
}

.simularColumn-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.simularColumn-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.simularColumn-name {
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px;
}
