/* .search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64.8px);
  animation: fadeIn linear 0.3s;
  transition: all linear 0.3s;
}

.search-input {
  position: relative;
} */

/* .search-text {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  color: #fff;
  width: 400px;
  max-width: calc(100vw - 32px);
  font-size: 20px;
} */

.search-text::placeholder {
  color: #fff;
}

/* .search-submit {
  height: 100%;
  width: 60px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #fff;
  background-color: #e74c3c;
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 16px;
} */

.searchResults {
  margin: 40px 0;
}

.searchResults-title {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

.searchResults-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
